# Angular build and cache outputs
/.angular/
/dist/

# Dependency directories
/node_modules/

# Local environment files (e.g. API keys, secrets)
.env
.env.*
!.env.example

# IDEs and Editors
/.idea/
/.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Operating System files
.DS_Store
Thumbs.db

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
eslint-debug.log*
*.log
